@charset "UTF-8";

*{margin:0; padding:0; vertical-align:middle; box-sizing:border-box;}
html,body{width:100%; height:100%;}
body{
	font: normal 14px/1 '맑은고딕', 'arial';
	color: #444;
	background:#fff;
}
a{ color: #444; text-decoration:none;}
ul{list-style:none;}

#wrap{
	width:1000px;
	margin:0 auto;
}
#wrap h1{font-size:50px; color:#0080ff; margin:50px auto; text-align:center;}
#wrap form{width:1000px; text-align:center;}
#wrap form ul{width:1000px;}
#wrap form ul li{width:1000px;}
#wrap form ul li input[type="text"]{
	padding:0 15px;
	outline: 0;
	width:1000px; height:50px; border:1px solid #ccc;
}

#wrap form button{ 
	margin:10px 0;
	padding:10px 40px; font-size:17px; cursor:pointer;}

#wrap table{	
	border-collapse:collapse;
	width:100%;
}
#wrap table th,td{border:1px solid #ddd;}
#wrap table th{height:60px; font-size:17px; background:#f7f7f7;}
#wrap table td{height:50px; text-align:center;}
#wrap table td:nth-child(2){width:710px; height:50px; text-align:left; padding-left:20px; overflow:hidden;}
#wrap table td a{
	display:block; 
	width:100%; 
	padding-right:100px;
 	overflow:hidden;
		
}
#wrap table td a span{
	display:block; 
	width:100%; 	
	white-space:nowrap;
	overflow:hidden;
	/* 짤린 글자 말줄임표 */
	text-overflow: ellipsis; 
}

#wrap table td:nth-child(1){width:90px;}
#wrap table td:nth-child(2){max-width:710px; }
#wrap table td:nth-child(3){width:200px;}

#wrap table td a:hover span{
	color:#39b;
	text-decoration:underline;
}
