<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마켓컬리 회원가입폼</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./script/lib/vue.js"></script>

</head>
<body>
<div id="wrap">
    <header id="header"></header>
    <main id="main">
        <section id="section1">
            <div class="container">
                <div class="title">
                    <h2>회원가입</h2>
                    <p><span><i>*</i>필수입력사항</span></p>
                </div>
                <div class="content" id="signUp">
                    <form>
                        <div class="signup-box">
                            <ul>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userId">아이디<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="text" id="userId" name="userId" maxlength="16" v-model="아이디" placeholder="아이디를 입력해주세요">
                                        </div>
                                        <div class="right">
                                            <button>중복확인</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userPw1">비밀번호<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="password" id="userPw1" name="userPw1" maxlength="16" v-model="비밀번호"  placeholder="비밀번호를 입력해주세요">
                                        </div>
                                        <div class="right">
                                           
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userPw2">비밀번호확인<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="password" id="userPw2" name="userPw2" maxlength="16"  v-model="비밀번호확인"  placeholder="비밀번호를 한번 더 입력해주세요">
                                        </div>
                                        <div class="right">
 
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userName">이름<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="text" id="userName" name="userName"  v-model="이름" placeholder="이름을 입력해주세요">
                                        </div>
                                        <div class="right">

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userEmail">이메일<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="text" id="userEmail" name="userEmail"  v-model="이메일"  placeholder="예:moonseonjong@naver.com">
                                        </div>
                                        <div class="right">
                                            <button>중복확인</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="userHp">휴대폰<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="text" id="userHp" name="userHp"  v-model="휴대폰" placeholder="숫자만 입력해주세요">
                                        </div>
                                        <div class="right">
                                            <button class="off">비밀번호받기</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label>주소<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <input type="button" id="userAddrBtn" name="userAddrBtn" @click.prevent="addrSearchMethod()" value="    주소검색">
                                            <p class="addre-guide-text">배송지에 따라 상품 정보가 달라질 수 있습니다.</p>
                                        </div>
                                        <div class="right">
                                            
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label>성별</label>
                                        </div>
                                        <div class="center">
                                            <div class="radio-box">
                                                <label><input v-model="성별" type="radio" id="male"   name="gender" value="남자"><span>남자</span></label>
                                                <label><input v-model="성별" type="radio" id="female" name="gender" value="여자"><span>여자</span></label>
                                                <label><input v-model="성별" type="radio" id="none"   name="gender" value="선택안함"><span>선택안함</span></label>
                                            </div>
                                        </div>
                                        <div class="right">
                                            
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label for="year">생년월일</label>
                                        </div>
                                        <div class="center">
                                            <div class="birth-box">
                                                <input v-model="생년" maxlength="4" type="text" id="year"   name="birth" placeholder="YYYY">
                                                <i>/</i>
                                                <input v-model="생월" maxlength="2" type="text" id="month" name="birth" placeholder="MM">
                                                <i>/</i>
                                                <input v-model="생일" maxlength="2" type="text" id="date"   name="birth" placeholder="DD">
                                            </div>
                                        </div>
                                        <div class="right">
                                            
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row-box">
                                        <div class="left">
                                            <label>추가입력 사항</label>
                                        </div>
                                        <div class="center">
                                            <div class="radio-box">
                                                <label><input v-model="추가입력사항" type="radio" id="chooga1" name="chooga" value="친구초대 추천인 아이디"><span>친구초대 추천인 아이디</span></label>
                                                <label><input v-model="추가입력사항" type="radio" id="chooga2" name="chooga" value="참여 이벤트명"><span>참여 이벤트명</span></label>
                                            </div>
                                        </div>
                                        <div class="right">
                                            
                                        </div>
                                    </div>
                                </li>


                                <!-- 가로줄 -->
                                <li class="hr">
                                    
                                     <hr>
                                    
                                </li>
                                 
                                <!-- 이용약관동의 -->
                                <li>
                                    <div class="row-box service">
                                        <div class="left">
                                            <label>이용약관동의<i>*</i></label>
                                        </div>
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input @input="inputChkAll" type="checkbox" id="chkAll" name="chk" value="전체 동의합니다." :checked="이용약관동의.length===7?true:false"><span>전체 동의합니다.</span></label>
                                            </div>
                                            <p>선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
                                        </div>
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk1" name="chk" value="이용약관 동의(필수)"><span>이용약관 동의</span></label><em>(필수)</em>
                                            </div>
                                        </div>
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk2" name="chk" value="개인정보 수집∙이용 동의(필수)"><span>개인정보 수집∙이용 동의</span></label><em>(필수)</em>
                                            </div>
                                        </div>
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk3" name="chk" value="개인정보 수집∙이용 동의(선택)"><span>개인정보 수집∙이용 동의</span></label><em>(선택)</em>
                                            </div>
                                        </div>
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk4" name="chk" value="무료배송, 할인쿠폰 등 혜택/정보 수신 동의(선택)"><span>무료배송, 할인쿠폰 등 혜택/정보 수신 동의</span></label><em>(선택)</em>
                                            </div>
                                        </div>
                                        <div class="center">
                                            <div class="check-box sns-email-check">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk5" name="chk" value="SNS"><span>SNS</span></label>
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk6" name="chk" value="이메일"><span>이메일</span></label>
                                            </div>
                                            <p>동의 시 한 달간 [5%적립] + [2만원 이상 무료배송] 첫 주문 후 안내</p>
                                        </div>
                                        
                                        <div class="center">
                                            <div class="check-box">
                                                <label><input v-model="이용약관동의" type="checkbox" id="chk7" name="chk" value="본인은 만 14세 이상입니다.(필수)"><span>본인은 만 14세 이상입니다.</span></label><em>(필수)</em>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>


                            </ul>
                            <div class="submit-box">
                                <button type="submit">가입하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer"></footer>
    <br><br><br><br><br><br><br><br><br><br>

    <script>
        const vue = new Vue({
            data: { // 메서드 방식은 리턴이 필요

            
                아이디:'',
                비밀번호:'',
                비밀번호확인:'',
                이름:'',
                이메일:'',
                휴대폰:'',
                주소:'',
                성별:'선택안함',
                생년:'',
                생월:'',
                생일:'',
                추가입력사항:'',
                이용약관전체:[
                "본인은 만 14세 이상입니다.(필수)",
                "이메일",
                "SNS",
                "무료배송, 할인쿠폰 등 혜택/정보 수신 동의(선택)",
                "개인정보 수집∙이용 동의(선택)",
                "개인정보 수집∙이용 동의(필수)",
                "이용약관 동의(필수)"
                ],
                이용약관동의: []
                
            },
            methods: { // 메서드 방식은 리턴이 필요
                
                addrSearchMethod: function(){
                    alert("주소검색 버튼 클릭 이벤트!");
                },
                inputChkAll(e){
                    if(e.target.checked === true){
                        this.이용약관동의 = this.이용약관전체
                    }else{
                        this.이용약관동의 =[];
                    }
                }
            
            }
        });
        vue.$mount('#signUp');
    </script>

</div>    
</body>
</html>