<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 디렉티브</title>
    <!-- <link rel="숏컷 아이콘" href="./images/wedding-img19.jpg"> -->
    <link rel="shortcut icon" href="./images/wedding-img19.jpg">
    <script src="./script/lib/vue.js"></script>
</head>
<body>
    <!-- 섹션내부에서는 h1이 안들어간다. -->
    <section id="app">
        <div class="container">
            <div class="title" :title="subject"><h2 :class="{on: 변수}">{{subject}}</h2></div>
            <div class="content">
                <ol>
                    <!-- v -for 디렉티브 사용 반복문-->
                    <!-- Mustache 머스태쉬(수염괄호) => 태그와 태그 사이에 사용 -->
                    <li v-for="항목변수 in 배열이름">{{fruit}}</li>
                    <li v-for="item in fruit">{{item}}</li>
                </ol>
                <ul>
                    <li v-for="(item, idx) in fruit">{{`${idx+1}.&nbsp;${item}`}}</li>
                </ul>

                <ul>
                    <li>
                        <span>번호</span>
                        <span>이름</span>
                        <span>국어</span>
                        <span>영어</span>
                        <span>수학</span>
                        <span>총점</span>
                        <span>평균</span>
                    </li>
                </ul>    
                    <!-- 
                        권장사항 반복문 조건문 한줄 코딩보다는 
                        각각 행을 다르게 사용 권장한다.
                        for문이 우선!!
                        li 목록을 조건문에 맞으면 출력한다.

                        <반복문 가상태그> <template> 탬플릿트
                            <조건문 태그> 

                            </조건문 태그>
                        </반복문 가상태그> </template> 탬플릿트

                    -->
                <ul>    
                    <template v-for ="(item, idx) in sungjuk">
                        <li v-if ="(item.국어+item.영어+item.수학)/3 >= 90">
                            <span>{{idx+1}}</span>
                            <span>{{item.이름}}</span>
                            <span>{{item.국어}}</span>
                            <span>{{item.영어}}</span>
                            <span>{{item.수학}}</span>
                            <span>{{item.국어+item.영어+item.수학}}</span>
                            <!-- 
                                소숫점이하 2자리 출력
                            반올림 Math.round()
                            자리내림 Math.floor()
                            자리올림 Math.ceil() 
                            반올림(95.333333333*100) => 9500
                            반올림(95.333333333*100)/100 => 95.33
                            -->
                            <span>{{Math.round((item.국어+item.영어+item.수학)/3 *100)/100}}</span>
                            <span v-if="(item.국어+item.영어+item.수학)/3 >= 95">A+</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 90">A</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 85">B</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 80">B+</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 75">C+</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 70">C</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 65">D+</span>
                            <span v-else-if="(item.국어+item.영어+item.수학)/3 >= 60">D</span>
                            <span v-else>F</span>
                        </li>
                    </template>
                </ul>        
                    <!-- 조건문 -->

                    <!--주소록, 연락처 -->
                    <!--이름, 휴대폰, 이메일 -->
                    <ul>
                        <li>
                            <span>순번</span>
                            <span>이름</span>
                            <span>휴대폰</span>
                            <span>이메일주소</span>
                        </li>
                    </ul>
                    <ul>
                        <li v-for ="(item, idx) in contact">
                            <span>{{idx+1}}</span>
                            <span>{{item.이름}}</span>
                            <span>{{item.휴대폰}}</span>
                            <span>{{item.이메일주소}}</span>
                        </li>
                    </ul>

                </ul>
            </div>
        </div>
        
    </section>

    <script>
        
        // 뷰 선언 => 생성자 
        const vue = new Vue({
            data:{
                subject: "뷰 디렉티브, 상태(State)변수(Variable) 바인딩하기",
                fruit: ["사과","바나나","자몽", "체리", "레몬", "키위"],
                sungjuk:[
                    {이름:"이소영", 국어: 90, 영어:97 , 수학:100},
                    {이름:"조지현", 국어: 90, 영어:85 , 수학:65},
                    {이름:"아무개", 국어: 70, 영어:85 , 수학:88},
                    {이름:"조무개", 국어: 50, 영어:50 , 수학:50},
                    {이름:"노무개", 국어: 90, 영어:80 , 수학:55},
                ],
                contact: [
                    {이름:"김채원", 휴대폰: "010-1234-5678", 이메일주소: "김채원@gmail.com" },
                    {이름:"사쿠라", 휴대폰: "010-2345-6789", 이메일주소: "사쿠라@gmail.com" },
                    {이름:"카즈하", 휴대폰: "010-3456-7890", 이메일주소: "카즈하@gmail.com" },
                    {이름:"허윤진", 휴대폰: "010-4567-8901", 이메일주소: "허윤진@gmail.com" },
                    {이름:"홍은채", 휴대폰: "010-5678-9012", 이메일주소: "홍은채@gmail.com" }
                ]


            },

            methods:{
                클릭메소드:function(){
                    alert();
                }
                    
            }
        });
        vue.$mount('#app'); // 마운트? 돔요소(태그,아이디,클래스...) 를 뷰에 그려주는 것

    </script>

    <style>
        #app{width: 100%;}
        #app .container{width: 100%;}
        /* 타이틀 */
        #app .container .title{width: 100%; padding:  50px 0;}
        #app .container .title h2.on{
            color: #f00;
        }

        #app .container .title h2{width: 100%; text-align: center; font-size: 32px; color: #00f;}
        /* 내용 */
        #app .container .content{
            
            width: 100%; display:flex; 
            /* 
            flex-flow: row nowrap;  가로 
            justify-content: center; 가로 가운데
            */
            flex-flow: column nowrap;  /* 세로 */
            align-items: center;
        }
        #app .container .content ol{padding:20px; }
        #app .container .content ol li{font-size: 17px;}
        #app .container .content ul{padding: 20px; list-style: none;}
        #app .container .content ul li{font-size: 17px;}

    </style>
</body>
</html>